<div class="bank-container">
  <header class="bank-header">
    <img [src]="logoUrl" alt="Logo do Banco" class="logo">
    <div class="balance">Saldo: {{ formattedBalance }}</div>
  </header>

  <main class="bank-main">
    <h2>Bem vindo {{ name }}</h2>
    <div class="action-container">
      <!-- Debitar -->
      <div class="action-box">
        <h2>Debitar</h2>
        <input
          type="number"
          id="debtAmount"
          [(ngModel)]="debtAmount"
          placeholder="Digite o valor"
          class="action-input">
        <button
          (click)="performTransaction('debit', debtAmount ?? 0)"
          [disabled]="!debtAmount">enviar debito</button>
      </div>

      <!-- Creditar -->
      <div class="action-box">
        <h2>Creditar</h2>
        <input
          type="number"
          id="creditAmount"
          [(ngModel)]="creditAmount" min="0"
          placeholder="Digite o valor"
          class="action-input">
        <button
          (click)="performTransaction('credit', creditAmount ?? 0)"
          [disabled]="!creditAmount">enviar credito</button>
      </div>
    </div>

    <!-- Extrato -->
    <div class="statement-box">
      <h2>Extrato</h2>

      <table *ngIf="transactions && transactions.length > 0" class="transaction-table">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.transactionType === 1 ? 'Debitado' : 'Creditado' }}</td>
            <td>{{ transaction.amount | currency:'BRL' }}</td>
            <td>{{ transaction.updateDate | date:'dd/MM/yyyy' }}</td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="transactions && transactions.length === 0" class="no-transactions">
        Não há nenhum histórico de transferências!
      </p>
    </div>

  </main>
</div>
