@import "../../../styles/variables.scss";

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 34px;

    .error-messages p {
      color: red;
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
}
